{% extends 'base_category.html.twig' %}

{% block category %}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Associate Products</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td><a href="{{ path('category_show', { 'slug': category.slug }) }}">{{ category.name }}</a></td>
                <td>{{ category.slug }}</td>
                <td>
                    {% for product in category.products %}
                        <ul>
                            <li>
                                <a href="{{ path('product_show', { 'slug': product.slug }) }}">{{ product.name }}</a>
                            </li>
                        </ul>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
