{% extends 'base_category.html.twig' %}

{% block category %}
    <h2>{{ category.name }}</h2>
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-responsive" id="assoc_product">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Createdat</th>
            <th>Stock</th>
        </tr>
        </thead>
        <tbody>
        {% for product in category.products %}
            <tr>
                <td>{{ product.Id }}</td>
                <td><a href="{{ path('product_show', { 'slug': product.slug}) }}">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                {#TODO#}
                {#<td>{{ product.image }}</td>#}
                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ product.stock }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('category_list') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
