{% extends 'base_category.html.twig' %}

{% block category %}
    <h2>{{ category.name }}</h2>
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_list') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
