<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome to Acme Optronics!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block topmenu %}
    {{ include(':common:menu_top.html.twig') }}
{% endblock %}

{#display user flash message if any#}
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message|trans([],'SonataUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% block page %}{% endblock %}

{% block footer %}
    {{ include(':common:footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-1.11.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/scripts.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
