<div class="col-md-3 display-item">
    <div class="col-md-12 padding-none">
        <div class="col-md-12 image">
            {% if item.images is empty %}
                <a href="{{ path('product_show', {'slug': item.slug}) }}">
                    <img title="{{ item.name }}"
                         src="{{ asset('uploads/default/default_product_'~random(15)~'.jpg') }}" width="160"
                         height="120"
                         alt="{{ item.name }}" border="0">
                </a>
            {% else %}
                <a href="{{ path('product_show', {'slug': item.slug}) }}">
                    <img title="{{ item.name }}"
                            {#{{ dump(item.images) }}#}
                         src="{{ asset( 'uploads/'~item.images[0].fileName) }}" width="160" height="120"
                         alt="{{ item.name }}" border="0">
                </a>
            {% endif %}
        </div>
    </div>

    <div class="title">
        <a href="{{ path('product_show', {'slug': item.slug}) }}">{{ item.name }}</a>
    </div>
    <div class="tag">
        {% for solution in item.solutions %}
            <span class="label label-info">{{ solution.name }}</span>
        {% endfor %}
    </div>
    <div class="customer-rating">
        <span data-toggle="tooltip" title="4.7 out of 5 stars (57 ratings)">
            <span class="rating-stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </span>
            <span class="count">
                {{ random(100) }}
            </span>
        </span>
    </div>

    <div class="price">
        <span>${{ item.price }}</span>
    </div>

    <div class="delivery">
        {% if item.stock > 0 %}
            <i class="fa fa-check-circle-o text-success fa-fw"></i>In stock - ships today
        {% else %}
            <i class="fa fa-check-circle-o text-warning fa-fw"></i>Pre-order now!
        {% endif %}
    </div>

</div>