<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb margin-none">
            {% set item = knp_menu_get_current_item('main_menu') %}
            {% set breadcrumbs = knp_menu_get_breadcrumbs_array(item) %}
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb.label == 'Home' %}
                    <a href="{{ path('homepage') }}"><span class="fa fa-home"></span></a>
                    <a href="{{ breadcrumb.uri }}">{{ breadcrumb.label }}</a>
                {% else %}
                    <span class="fa fa-angle-right fa-fw"></span>
                    <a href="{{ breadcrumb.uri }}">{{ breadcrumb.label }}</a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
