{% extends ':common:layout.html.twig' %}

{% block page_title %}
    <h1>{{ product.name }}</h1>
{% endblock %}

{% block main %}
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td> TODO </td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ product.stock }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_show', {'slug': product.category.slug }) }}">Back to the category</a>
        </li>
    </ul>
{% endblock %}
